*{
    box-sizing: border-box;
}
body{
    /* height: 100vh; */
}
#aside{
    width: 25rem;
    /* padding-left: 5%;
    padding-top: 3%; */
    /* height: 100%; */
    top: 5rem;
    position: fixed;
}
#content{
    width: 70vw;
    position: absolute;
    left: 25rem;
    top: 5rem;
}
#profileSec, #rented, #wishlist{
         padding-left: 4.5rem; 
}
header{
    height: 5rem;
    padding: 0.5% 5%;
    /* padding-right: 5%; */
    /* bottom: 1rem; */
    z-index: 1;
}
main{
    height: 100%;
    /* padding: 0 0 2% 0; */
}
#search{
    width: 100%;
    padding-left: 5%;

}
input:focus{
    outline: none;
}
#logo{
    height: 3.5rem;
    /* width: 0.1rem; */
    box-shadow: none;

}
#search::placeholder{
    /* padding-left: 5%; */
}
#searchDiv{
    height: 2.5rem;
    padding-left: 3%;

}
#user{
    width: 3rem;
    cursor: pointer;
}
#profileImage{
  border-radius: 100%;
  height: 100%;
  display: none;
}
#userDiv{
}
#profileName{
  
    font-family:Arial, Helvetica, sans-serif;
}
#prof{
    width: 10rem;
    height: 10rem;
    
}
#profile{
    font-size: 6rem;
}
  #profileContent{
    height: 65%;
  }

  body.no-scroll {
    overflow: hidden;  /* Disable scroll on body */
  }
  #pro{
    height: 100vh;
    width: 100%;
  }
  #remaining{
    height: 100%;
  }
  #loading {
    position: fixed;
    color: white;
    text-align: center;
    /* font-size: 5rem; */
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: none; /* Hidden by default */
    z-index: 3; /* Ensure it's on top of other content */
  }
 #logoutBtn {
    background-image: linear-gradient(to bottom right , green, black);
    width: 10rem;
    
}
#watch{
    background-image: linear-gradient(to bottom right , green, black);
    border-radius: 5px;

}
#watch{
    width: 15rem;
}
 #logoutBtn:hover, #watch:hover, #profileSec:hover, #rented:hover, #wishlist:hover{
    transform: scale(1.02); /* Slightly enlarge the image */
    box-shadow: 0 0px 10px white;
    transition: transform 0.5s;
}
#profileSec:hover, #rented:hover, #wishlist:hover{
  box-shadow: 0 0px 0px white;
  color: white !important;
  background-image: linear-gradient(to  right , black, green);

}
#canvas{
  position: absolute;
  z-index: 10;
}
.movie {
    position: relative;
      border: 1px solid ;
      margin: 1rem;
      padding: 1rem;
      height: 35rem;
      min-width: 20rem;
      max-width: 20rem;
      text-align: center;
      background-color: white;
      border-radius: 0.5rem;
      box-shadow: 0 4px 20px green; /* Add shadow on hover */
  
  }
  .movie:hover, .rentalHistoryCard:hover {
    transform: scale(1.05); 
     box-shadow: 0 4px 20px white; 
     transition: transform 0.5s;
    

} 

.rentalHistoryCard:hover{
  transform: scale(1.03); 
     box-shadow: 0 4px 20px white; 
     transition: transform 0.5s;
}
  .popups{
    background: black;
    color: white;
    /* width: 5rem; */
    /* height: 5rem; */
  position: absolute;
  /* bottom: 50%; */
  top: -1rem;
  left: -1rem;
  right: -1rem;
    /* display: none; */
    opacity: 0;
    text-wrap: wrap;
  border-radius: 0.5rem;
  }
  
  .fade {
            
    animation: fadeInOut 0.3s ease-in ;
  }
  @keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
  }

  .popups img{
    box-shadow: none;
  }
  img{
    width: 100%;
    height: 80%;
    border-radius: 0.5rem;
    box-shadow: 0 4px 20px grey; /* Add shadow on hover */

}
a{
  text-decoration: none;
  color: black;  
}
#wishlistSection, #activeRentals, #rentalHistory{
  white-space: nowrap;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;
    height: 100%;
}
.rentalHistoryCard{
  background: white;
  /* width: 20rem; */
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  margin: 1rem;
}
.rentalHistoryCard img{
  width: 10rem;
  margin-right: 1rem;
}
#border{
  /* height: 100rem; */

}
#proBorder{
  left: 25rem;
  top: 5rem;
}

.floating-btn {
  position: fixed;
  z-index: 1;
  bottom: 20px;
  right: 20px;
  background-color: green;
  color: white;
  border: none;
  height: 3rem;
  width: 3rem;
  /* padding: ; */
  border-radius: 50%;
  font-weight: bolder;
  /* font-size: 1.5rem; */
  display: none; /* Initially hidden */
  transition: opacity 0.3s ease;
}

.floating-btn:hover {
  background-color: #0056b3;
  cursor: pointer;

}

#canvas{
  top: 5rem;
  position: fixed;
}
#icon{
  /* height: 2rem;
  width: 2rem;
  background: green; */
  position: relative;
}
#input{
  /* display: inline; */
  height: 0;
  width: 0;
  position: absolute;
  bottom: -8rem;
  z-index: -1;
}
#yes, #no, #yesRemove, #noRemove{
  border:  5px solid white;
  border-radius: 100%;
}
#yes:hover, #yesRemove:hover{
  border: 5px solid #28a745;
  color: #28a745;
}
#no:hover, #noRemove:hover{
  border: 5px solid red;
  color: red;
}
#icon:hover, #uploadImageIcon:hover, #removeIcon:hover{
  color: #28a745;
}
input[type="file"] {
  display: none;
}
.upload-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: inline-block;
  margin: 20px 0;
}
.upload-btn:hover {
  background-color: #45a049;
}
.img-container {
  text-align: center;
  margin-bottom: 20px;
  /* display: none;  */
  /* border: 5px solid */
}
#image {
  width: 100%;
  max-height: 400px;
  margin-bottom: 20px;
  object-fit: contain;
}
.error-message {
  color: red;
  text-align: center;
  display: none;
}
#preview {
  display: none;
  /* margin: 20px auto; */
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ddd;
}

@media (max-width: 1023px) {
  *{
    font-size: 14px;
  }
  #canvas{
    width: 3rem;
    height: 3rem;
  }
  #aside{
    width: 28rem;
    top: 4rem;
  }
  #content{
    width: auto;
    left: 0;
  }
  #canvasClose{
    width: 2rem;
    height: 2rem;
    font-size: large;
  }
}

@media (max-width: 767px) {
  *{
    font-size: 12px;
  }
  #user{
    position: absolute;
    z-index: 1;
    height: 3.5rem;    
    top: 0.7rem;
  }
}